<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Classification Demo</title>
    {% endif %}
</head>

<body>

<br><br>
<form action="/predict" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Image URL</legend>
        <br>
        <legend>Choose Your Image Classification Model</legend>
        <input type="radio" name="model" value="ResNet50" checked> ResNet50 <br>
        <input type="radio" name="model" value="MobileNet" > MobileNet <br>
        <input type="radio" name="model" value="VGG" > VGG <br>
        <br>
        <p> Enter the URL for the image </p>
        <input type="text" name="address"
               value="http://cdn2-www.cattime.com/assets/uploads/gallery/ragdoll/ragdoll-cats-kittens-2.jpg" size="100">
        <br>
        <input type="submit" name="imagepath" value="Submit">
         <p> OR upload the image for prediction </p>
         <input type="file" name="image"><br>
         <br>
         <input type="submit" name="imagepath" value="Upload" class="btn btn-primary">

    </fieldset>
</form>

</html>
