<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Classification Demo</title>
    {% endif %}
</head>
<body>
<form action="/download" method="POST">
    <fieldset>
        <legend>Image URL</legend>
        <input type="text" name="address"
               value="http://cdn2-www.cattime.com/assets/uploads/gallery/ragdoll/ragdoll-cats-kittens-2.jpg" size="100"><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>

<br><br>

<form action="/upload" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Upload Image</legend>
        <input type="file" name="image">
        <input type="submit" value="Upload your image" class="btn btn-primary">
    </fieldset>
</form>
</body>
</html>
